.container {
    text-align: center;
    padding: 1em;
    width: 40vw;
    border: 1px solid blanchedalmond;
    background-color: linen;
    margin: 0.3em;
}

.heading {
    background-color: sandybrown;
    padding: 0.4em;
    margin-bottom: 1em;
}

.container label {
    padding: 0.2em;
    text-align: left;
}

.container input {
    padding: 0.7em;
    text-align: center;
    margin-left: 1em;
}

.container button{
    background-color: indianred;
    width: 80%;
    margin: 1em;
    border: 1px solid white;
    color: aliceblue;
    padding: 1em;
}