.container {
    display: inline-flex;
    width: 100%;
    background-color: #E5E5E5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6em;
    text-align: center;
    color: #66665D;
}
