.container {
    padding: 2em;
    width: 70%;
    margin: 0.3em;
}

.question {
    font-weight: bold;
}

.answer {
    margin-bottom: 1em;
}

.container img {
    width: 9em;
    margin-bottom: 2em;
}
